<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher_market" android:roundIcon="@drawable/ic_launcher_market" android:label="@string/app_name" android:theme="@style/Theme.NasdaqWidget">
        <activity android:name=".BrokerConnectionsActivity" android:exported="false" />
        <activity android:name=".AssetWidgetConfigureActivity" android:exported="true"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /></intent-filter></activity>
        <activity android:name=".DrawdownWidgetConfigureActivity" android:exported="true"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /></intent-filter></activity>
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <receiver android:name=".NasdaqWidgetProvider" android:label="@string/widget_name_market" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /><action android:name="com.lucas.nasdaqwidget.REFRESH" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/nasdaq_widget_info" /></receiver>
        <receiver android:name=".AlertWidgetProvider" android:label="@string/widget_name_alerts" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /><action android:name="com.lucas.nasdaqwidget.REFRESH_ALERTS" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/alert_widget_info" /></receiver>
        <receiver android:name=".MvrvWidgetProvider" android:label="@string/widget_name_mvrv" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /><action android:name="com.lucas.nasdaqwidget.REFRESH_MVRV" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/mvrv_widget_info" /></receiver>
        <receiver android:name=".DrawdownWidgetProvider" android:label="@string/widget_name_drawdown" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /><action android:name="com.lucas.nasdaqwidget.REFRESH_DRAWDOWN" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/drawdown_widget_info" /></receiver>
        <receiver android:name=".PortfolioWidgetProvider" android:label="@string/widget_name_portfolio" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/portfolio_widget_info" /></receiver>
        <receiver android:name=".DividendWidgetProvider" android:label="@string/widget_name_dividend" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/dividend_widget_info" /></receiver>
    </application>
</manifest>
